<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erhuo.dao.AdvertisementMapper">


    <select id="queryAdvertisementAll" resultMap="advertisement">
        select * from advertisement
    </select>

    <insert id="addAdvertisement" parameterType="advertisement">
        insert into advertisement values (#{id},#{img})
    </insert>


    <resultMap id="advertisement" type="advertisement">
        <result property="id" column="id"/>
        <result property="img" column="img"/>
    </resultMap>


</mapper>

